.scroll__nav {
  display: flex;
  justify-content: center;
  color: white;

  @include tablets {
    display: none;
  }
}

.scroll__nav-text {
  margin-right: 22px;
}

.scroll__nav-icon {
  width: 28px;
  height: 30px;
  fill: white;
}
