.scroll__nav {
  display: flex;
  justify-content: center;
  color: white;

}

.scroll__nav-icon {
  width: 19px;
  height: 23px;
  fill: white;
}

// .scroll__pic {
//   fill: white;
// }