.title {
  font-size: 36px;
  color: white;
  font-weight: 700;
}

.subtitle {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.subtitle-two {
  font-size: 24px;
  color: white;
  font-weight: 700;
}