.user__avatar {
  margin-bottom: 68px;
}

.user__profile {
  margin-right: 15%;

  @include phones {
    margin-right: 0;
  }
}

.profile__key {
  display: block;
  color: rgba(255, 255, 255, 0.15);
  margin-right: 82px;

  @include tablets {
    margin-right: 40px;
  }
}

.profile__value {
  color: white;
}