.user__avatar {
  margin-bottom: 80px;
}

.profile__row {
  margin-bottom: 25px;
}

.profile__key {
  display: block;
  color: rgba(255, 255, 255, 0.15);
  margin-right: 82px;
}

.profile__value {
  color: white;
}